<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MPG tools by floriancourgey.com</title>
    <link rel="stylesheet" href="../vendor/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/datatable-1.10.19/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/select2-4.0.5/css/select2.min.css"/>
    <link rel="stylesheet" href="../app.css">
  </head>
  <body>
    <div id="mpg">
      <app-header></app-header>
      <main role="main" class="container">
        <h1>{{l('title')}} <small>{{l('updatedOn')}} 20181206</small></h1>

        <h2>My team</h2>
        <p v-if="!myPlayers || myPlayers.length<1" v-html="l('help')">
        </p>
        <table v-else class="table table-responsive table-condensed table-striped">
          <thead>
            <tr>
              <th>{{l('table.actions')}}</th>
              <th>{{l('table.name')}}</th>
              <th>{{l('table.teamId')}}</th>
              <th>{{l('table.avgRate')}}</th>
              <th>{{l('table.selections')}}</th>
              <th>{{l('table.goals')}}</th>
              <th>{{l('table.position')}}</th>
              <th>{{l('table.fcNote')}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="player in myPlayers">
              <td>
                <app-action @click.native="removeFromMyTeam(player)" text="-" v-show="isInMyTeam(player)" title="Remove from my team"></app-action>
                <app-action @click.native="addToMyTeam(player)" text="+" v-show="!isInMyTeam(player)" title="Add to my team"></app-action>
              </td>
              <td @click="console.log(player)">{{player.firstname}} <strong>{{player.lastname}}</strong></td>
              <td>{{teams[player.teamId].shortName}}</td>
              <td class="text-right">{{player.stats.avgRate}}</td>
              <td class="text-right">{{player.stats.percentageStarter*100}}%</td>
              <td>{{player.stats.sumGoals}}</td>
              <td v-bind:style="{ background: positions[player.position].color }">{{positions[player.position].shortName}}</td>
              <td class="text-right">{{getFcNote(player)}}</td>
            </tr>
          </tbody>
        </table>

        <h2>Mercato</h2>

        <table id="mercato" class="table table-responsive table-condensed table-striped">
          <thead>
            <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Team</th>
                <th>Position</th>
                <th>Avg rate /10</th>
                <th>Selections</th>
                <th>Goals</th>
                <th>Quotation</th>
                <th>FC note</th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th></th>
              <th><input id="filter-name"/></th>
              <th>
                <select id="filter-team">
                  <option>All</option>
                  <option :value="team.name" v-for="team in _.orderBy(teams, ['name'], ['asc'])">{{team.name}} - {{team.shortName}}</option>
                </select>
              </th>
              <th>
                <select id="filter-position">
                  <option value="">All</option>
                  <option :value="position.name" v-for="position in positions">{{position.name}}</option>
                </select>
              </th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
        </table>

        <p><small>
          Mercato is based on plain old jQuery, so there's no translation available (via VueJS).
        </small></p>
      </main>
      <app-footer></app-footer>
    </div>
    <script src="../vendor/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="../vendor/lodash-4.17.11.min.js"></script>
    <script src="../vendor/select2-4.0.5/js/select2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('#filter-team').select2();
      $('#filter-position').select2({
        minimumResultsForSearch: Infinity,
      });
    });
    </script>
    <script src="../vendor/bootstrap-3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <script src="../vendor/vue-2.5.17.min.js" charset="utf-8"></script>
    <script src="../app.js" charset="utf-8"></script>
    <script src="../polyfill.js" charset="utf-8"></script>
    <script src="../vendor/datatable-1.10.19/jquery.dataTables.min.js" charset="utf-8"></script>
    <script src="../vendor/datatable-1.10.19/dataTables.bootstrap.min.js" charset="utf-8"></script>
    <script src="2018-positions.js" charset="utf-8"></script>
    <script src="2018-championships.js" charset="utf-8"></script>
    <script src="2018-teams.js" charset="utf-8"></script>
    <script src="datasets/2018-fr-20181206.js" charset="utf-8"></script>
    <script src="translations-en.js" charset="utf-8"></script>
    <script src="translations-fr.js" charset="utf-8"></script>
    <script src="mpg.js" charset="utf-8"></script>
  </body>
</html>
