<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSV ETL by floriancourgey.com</title>
    <link rel="stylesheet" href="../vendor/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../app.css">
  </head>
  <body>
    <div id="csv">
      <app-header></app-header>
      <main role="main" class="container">
        <h1>CSV to table helper</h1>
        <h2>Input text</h2>
        <button type="button" class="btn btn-default" @click="message=''">Clear</button>
        <textarea v-model="message" rows="8" class="form-control">
        </textarea>

        <h2>Define separators</h2>
        <div class="form-group">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Load a template <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:;" @click="columnSep=',';columnSepUseRegex=false;lineSep='\\n';lineSepUseRegex=true;">CSV US (,)</a></li>
              <li><a href="javascript:;" @click="columnSep=';';columnSepUseRegex=false;lineSep='\\n';lineSepUseRegex=true;">CSV Europe (;)</a></li>
              <li><a href="javascript:;" @click="columnSep='\\t';columnSepUseRegex=true;lineSep='\\n';lineSepUseRegex=true;">TSV</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="javascript:;" @click="columnSep='<|>';columnSepUseRegex=false;lineSep='\\n';lineSepUseRegex=true;">Mi9 Raymark</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Add a header <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:;" @click="loadHeader(headers.raymark.STDCUSTOUT)">Mi9 Raymark - STDCUSTOUT</a></li>
              <li><a href="javascript:;" @click="loadHeader(headers.raymark.STDOUTSALES)">Mi9 Raymark - STDOUTSALES</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="">Column separator</label>
          <div class="input-group">
            <input type="text" v-model="columnSep" class="form-control">
            <div class="input-group-btn">
              <label type="button" class="btn btn-default">
                <input type="checkbox" style="margin: 0;" v-model="columnSepUseRegex">
                Use regex (useful for \t)
              </label>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Common separators <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="javascript:;" @click="columnSep=','">,</a></li>
                <li><a href="javascript:;" @click="columnSep=';'">;</a></li>
                <li><a href="javascript:;" @click="columnSep='|'">|</a></li>
                <li><a href="javascript:;" @click="columnSep='%'">%</a></li>
                <li><a href="javascript:;" @click="columnSep='^'">^</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="javascript:;" @click="columnSep='<|>'"><|></a></li>
                <li><a href="javascript:;" @click="columnSep='\\t'">\t</a></li>
              </ul>
            </div><!-- /btn-group -->
          </div><!-- /input-group -->
        </div>
        <div class="form-group">
          <label for="">Line separator</label>
          <div class="input-group">
            <input type="text" v-model="lineSep" class="form-control">
            <div class="input-group-btn">
              <label type="button" class="btn btn-default">
                <input type="checkbox" style="margin: 0;" v-model="lineSepUseRegex">
                Use regex (useful for \n)
              </label>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Common separators <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="javascript:;" @click="lineSep='\\n';lineSepUseRegex=true;">\n UNIX</a></li>
                <li><a href="javascript:;" @click="lineSep='\\r\\n';lineSepUseRegex=true;">\r\n Windows</a></li>
              </ul>
            </div>
          </div><!-- /input-group -->
        </div>
        <button type="button" class="btn btn-primary" @click="generate">Generate Result</button>
        <h2>Result</h2>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th v-for="col in cols">{{ col }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="line in results">
                <td v-for="value in line">{{value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
      <app-footer></app-footer>
    </div>
    <script src="../vendor/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="../vendor/bootstrap-3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <script src="../vendor/vue-2.5.17.min.js" charset="utf-8"></script>
    <script src="../app.js" charset="utf-8"></script>
    <script src="../polyfill.js" charset="utf-8"></script>
    <!-- <script src="../samples/sample1.mi9.cust.csv.js" charset="utf-8"></script> -->
    <script src="csv.js" charset="utf-8"></script>
    <script src="csv.addon.raymark.js" charset="utf-8"></script>
  </body>
</html>
