<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>String tools by floriancourgey.com</title>
    <link rel="stylesheet" href="../vendor/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../app.css">
    <link rel="stylesheet" href="string.css">
  </head>
  <body>
    <div id="app-string" class="container">
      <app-header></app-header>
      <main role="main">
        <h1>String tools by <a href="https://floriancourgey.com?ref=floriancourgey.tools" target="_blank">floriancourgey.com</a></h1>
        <p>
          <app-action @click.native="clear" text="clear" icon="erase"></app-action>
          <app-action @click.native="load(sample1txt)" text="lorem ipsum" icon="font"></app-action>
          <app-action @click.native="load(sample1xml)" text="&lt;&gt; sample XML"></app-action>
          <app-action @click.native="load(sample1json)" text="{} sample JSON"></app-action>
        </p>
        <textarea v-model="message" rows="8" style="width:100%;"></textarea>
        <div class="row">
          <div class="col-sm-2">
            <h2>Statistics</h2>
          </div>
          <div class="col-sm-10">
            <ul>
              <li># characters: {{nbChar}}</li>
              <li># spaces: {{nbSpace}}</li>
              <li># lines: {{nbLine}}</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h2>Basic edits</h2>
          </div>
          <div class="col-sm-10">
            <p>
              <app-action @click.native="upper" text="upper" icon="chevron-up" title="Convert text to uppercase using toUpperCase()"></app-action>
              <app-action @click.native="lower" text="lower" icon="chevron-down" title="Convert text to uppercase using toLowerCase()"></app-action>
              <app-action @click.native="reverse" text="reverse" icon="fast-backward" title="Convert ABC to CBA"></app-action>
              <app-action @click.native="base64encode" text="base64 encode" title="Encode text via Base64"></app-action>
              <app-action @click.native="base64decode" text="base64 decode" title="Decode text via Base64"></app-action>
              <app-action @click.native="trimLines" text="trim lines" title="Remove spaces at the beginning and the end of each line"></app-action>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h2>Remove & replace</h2>
          </div>
          <div class="col-sm-10">
            <p>
              <app-action @click.native="replaceXbyY" text="Replace this regex"></app-action><input v-model="replaceX"> with flags (<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp#Parameters">?</a>) <input v-model="flags"> by <input v-model="byY"><br/>
              <app-action @click.native="removeAllButX" text="Remove everything except this regex"></app-action><input v-model="dontRemoveX"> with flags (<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp#Parameters">?</a>) <input v-model="flags">
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h2>Slug</h2>
          </div>
          <div class="col-sm-10">
            <app-action @click.native="basicSlug" text="Basic slug (lowercase, spaces to -)"></app-action>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h2>Password gen</h2>
          </div>
          <div class="col-sm-10">
            <p>
              Alphabet:
              <app-action @click.native="alphabetaz" text="a-z"></app-action>
              <app-action @click.native="alphabetazAZ" text="a-zA-Z"></app-action>
              <app-action @click.native="alphabetazAZ09" text="a-zA-Z0-9"></app-action>
              <app-action @click.native="alphabetazAZ09Sym" text="a-zA-Z0-9!#.."></app-action><br/>
              <input v-model="alphabet" style="width:100%;">
              with length <input v-model="length" type="number">
              <br/>
              <app-action @click.native="generate" text="Generate" icon="random"></app-action>
            </p>
          </div>
        </div>
      </main>
      <app-footer></app-footer>
    </div>

    <script src="../samples/sample1.txt.js" charset="utf-8"></script>
    <script src="../samples/sample1.xml.js" charset="utf-8"></script>
    <script src="../samples/sample1.json.js" charset="utf-8"></script>
    <script src="../vendor/vue-2.5.17.min.js" charset="utf-8"></script>
    <script src="../vendor/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="../vendor/bootstrap-3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <script src="../app.js" charset="utf-8"></script>
    <script src="string.js" charset="utf-8"></script>
  </body>
</html>
