<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>String tools by floriancourgey.com</title>
    <link rel="stylesheet" href="../vendor/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../app.css">
    <link rel="stylesheet" href="string.css">
  </head>
  <body>
    <div id="app-string">
      <app-header2></app-header2>
      <main role="main" class="container">
        <h1>String tools by <a href="https://floriancourgey.com?ref=floriancourgey.tools" target="_blank">floriancourgey.com</a></h1>
        <p>
          <app-action2 @click.native="clear" text="clear" icon="erase"></app-action2>
          <app-action2 @click.native="load(sample1txt)" text="lorem ipsum" icon="font"></app-action2>
          <app-action2 @click.native="load(sample1xml)" text="&lt;&gt; sample XML"></app-action2>
          <app-action2 @click.native="load(sample1json)" text="{} sample JSON"></app-action2>
        </p>
        <textarea class="form-control" v-model="message" rows="8" style="width:100%;"></textarea>
        <div class="row">
          <div class="col-sm-2">
            <h2>Statistics</h2>
          </div>
          <div class="col-sm-10">
            <ul>
              <li># characters: {{nbChar}}</li>
              <li># spaces: {{nbSpace}}</li>
              <li># lines: {{nbLine}}</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h2>Basic edits</h2>
          </div>
          <div class="col-sm-10">
            <p>
              <app-action2 @click.native="upper" text="upper" icon="chevron-up" title="Convert text to uppercase (using lodash _.toUpper)"></app-action2>
              <app-action2 @click.native="lower" text="lower" icon="chevron-down" title="Convert text to uppercase (using lodash _.toLower)"></app-action2>
              <app-action2 @click.native="capitalize" text="capitalize" icon="text-size" title="Convert text to first letter of words in uppercase, other letters in lowercase"></app-action2>
              <app-action2 @click.native="camelCase" text="camelCase" title="Convert text to camelCase (using lodash _.camelCase)"></app-action2>
              <app-action2 @click.native="snakeCase" text="snake_case" title="Convert text to snake_case (using lodash _.snakeCase)"></app-action2>
              <app-action2 @click.native="reverse" text="reverse" icon="sort-by-alphabet-alt" title="Convert message ABC to CBA"></app-action2>
              <app-action2 @click.native="reverseLines" text="reverse lines" icon="sort-by-attributes-alt" title="Reverse lines 123 to 321"></app-action2>
              <app-action2 @click.native="trimLines" text="trim each line" title="Remove spaces at the beginning and the end of each line"></app-action2>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h2>Encoding/decoding</h2>
          </div>
          <div class="col-sm-10">
            <app-action2 @click.native="base64encode" text="base64 encode" title="Encode text via Base64 (using JS btoa)"></app-action2>
            <app-action2 @click.native="base64decode" text="base64 decode" title="Decode text via Base64 (using JS atob)"></app-action2>
            &nbsp;&nbsp;&nbsp;
            <app-action2 @click.native="urlEncode" text="url encode" title="Encode text to URL safe (using JS encodeURIComponent)"></app-action2>
            <app-action2 @click.native="urlDecode" text="url decode" title="Decode URL safe (using JS decodeURIComponent)"></app-action2>
            &nbsp;&nbsp;&nbsp;
            <app-action2 @click.native="message = caesar(message, caesarOffset)" text="Caesar with offset" title="Caesar on each letter of message"></app-action2><input style="width: 50px;text-align: center;" type="number" v-model="caesarOffset"/>
            <app-action2 @click.native="caesarBruteforce" text="Caesar bruteforce" title="Bruteforce all 26 possiblities"></app-action2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h2>Remove & replace</h2>
          </div>
          <div class="col-sm-10">
            <p class="form-inline">
              Replace this regex
              <input class="form-control input-sm" v-model="replaceX"> with flags (<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp#Parameters">?</a>)
              <input class="form-control input-sm" v-model="flags"> by
              <input class="form-control input-sm" v-model="byY">
              <app-action2 @click.native="replaceXbyY" text="Go and replace"></app-action2>
              <br/>
              Remove everything except this regex
              <input class="form-control input-sm" v-model="dontRemoveX"> with flags (<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp#Parameters">?</a>)
              <input class="form-control input-sm" v-model="flags">
              <app-action2 @click.native="removeAllButX" text="Go and remove"></app-action2>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h2>Slug</h2>
          </div>
          <div class="col-sm-10">
            <app-action2 @click.native="basicSlug" text="Basic slug (lowercase, spaces to -)"></app-action2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h2>JSON</h2>
          </div>
          <div class="col-sm-10">
            <app-action2 @click.native="xml2Jxon" text="XML 2 JXON" title="Convert an XML object to its JXON counterpart (using github tyrasd/jxon)"></app-action2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h2>Password gen</h2>
          </div>
          <div class="col-sm-10">
            <p class="form-inline">
              Alphabet:
              <label class="btn btn-outline-secondary btn-sm" title="Lowercase letters"><input v-on:change="updateAlphabet" type="checkbox" v-model="alphabetaz">a-z</label>
              <label class="btn btn-outline-secondary btn-sm" title="Uppercase letters"><input v-on:change="updateAlphabet" type="checkbox" v-model="alphabetAZ">A-Z</label>
              <label class="btn btn-outline-secondary btn-sm" title="Numbers"><input v-on:change="updateAlphabet" type="checkbox" v-model="alphabet09">0-9</label>
              <label class="btn btn-outline-secondary btn-sm" title="Symbols !#$%&amp;*+-=?@^_."><input v-on:change="updateAlphabet" type="checkbox" v-model="alphabetSym">!#..</label>
              <input v-model="alphabet" class="form-control input-sm" style="display:block;width:100%;">
              with length <input v-model="length" type="number" class="form-control">
              <br/>
              <app-action2 @click.native="generate" text="Generate" icon="random"></app-action2>
            </p>
          </div>
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-2">
            <h2>Help</h2>
          </div>
          <div class="col-sm-10">
            <p>
              <code>// todo</code>
            </p>
          </div>
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-2">
            <h2>Developer help</h2>
          </div>
          <div class="col-sm-10">
            <p>
              This tools is built using <a href="https://vuejs.org/v2/guide/" target="_blank">VueJS</a>.
              You may open a console in DevTools anytime and use it with <code>app</code>:
              <ul>
                <li><code>app.load(sample1xml)</code> to load a sample</li>
                <li><code>app.base64encode()</code> to use a function</li>
                <li><code>app.message</code> to get/set the current text</li>
              </ul>
            </p>
          </div>
        </div><!-- /.row -->
      </main>
      <app-footer></app-footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jxon@2.0.0-beta.5/jxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="../samples/sample1.txt.js" charset="utf-8"></script>
    <script src="../samples/sample1.xml.js" charset="utf-8"></script>
    <script src="../samples/sample1.json.js" charset="utf-8"></script>
    <script src="../vendor/vue-2.5.17.min.js" charset="utf-8"></script>
    <script src="../vendor/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="../vendor/popper-1.15.0/popper.min.js" charset="utf-8"></script>
    <script src="../vendor/bootstrap-4.3.1/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.btn[title]').tooltip();
      });
    </script>
    <script src="../app.js" charset="utf-8"></script>
    <script src="string.js" charset="utf-8"></script>
  </body>
</html>
