<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SEO tools by floriancourgey.com</title>
    <link rel="stylesheet" href="../vendor/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../app.css">
  </head>
  <body>
    <div id="seo" class="container">
      <app-header></app-header>
      <main role="main">
        <h1>{{l('title')}}</h1>
        <h2>{{l('meta.title')}}</h2>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-6">
              <label for="title" class="col-sm-4 control-label">{{l('meta.form.title')}}</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="title" v-model="title"/>
                <span class="help-block">{{title.length}}/60 characters</span>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="type" class="col-sm-4 control-label">{{l('meta.form.type')}}</label>
              <div class="col-sm-8">
                <select class="form-control" id="type" v-model="type">
                  <option value="article">article</option>
                  <option value="book">book</option>
                  <option value="books.author">books.author</option>
                  <option value="books.book">books.book</option>
                  <option value="books.genre">books.genre</option>
                  <option value="business.business">business.business</option>
                  <option value="fitness.course">fitness.course</option>
                  <option value="game.achievement">game.achievement</option>
                  <option value="music.album">music.album</option>
                  <option value="music.playlist">music.playlist</option>
                  <option value="music.radio_station">music.radio_station</option>
                  <option value="music.song">music.song</option>
                  <option value="place">place</option>
                  <option value="product">product</option>
                  <option value="product.group">product.group</option>
                  <option value="product.item">product.item</option>
                  <option value="profile">profile</option>
                  <option value="restaurant.menu">restaurant.menu</option>
                  <option value="restaurant.menu_item">restaurant.menu_item</option>
                  <option value="restaurant.menu_section">restaurant.menu_section</option>
                  <option value="restaurant.restaurant">restaurant.restaurant</option>
                  <option value="video.episode">video.episode</option>
                  <option value="video.movie">video.movie</option>
                  <option value="video.other">video.other</option>
                  <option value="video.tv_show">video.tv_show</option>
                </select>
                <span class="help-block">See <a href="https://developers.facebook.com/docs/reference/opengraph#object-type" target="_blank">Facebook og:type reference</a>.</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">{{l('meta.form.description')}}</label>
            <div class="col-sm-10">
              <textarea class="form-control" v-model="description" id="description" rows="2"></textarea>
              <span class="help-block">{{description.length}}/155 characters</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <label for="author" class="col-sm-4 control-label">{{l('meta.form.author')}}</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="author" v-model="author"/>
                <span class="help-block">{{author.length}}/60 characters</span>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="twitterId" class="col-sm-4 control-label">{{l('meta.form.twitter')}}</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="twitterId" v-model="twitterId"/>
                <span class="help-block">Should start with a @</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="image" class="col-sm-2 control-label">{{l('meta.form.image')}}</label>
            <div class="col-sm-10">
              <input class="form-control" v-model="image" id="image" type="text"/>
              <span class="help-block">HTTPS Image URL, ie https://assetcdn.500px.org/assets/static_pages/home/cover_bg-121d68d0f30118182be4f9ada6c2c502.jpg.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{l('meta.generated')}}</label>
            <div class="col-sm-10">
              <pre class="form-control-static">
<template v-if="showComments">&lt;!-- Base --&gt;</template>
&lt;title&gt;{{title}}&lt;/title&gt;
&lt;meta name=&quot;description&quot; content=&quot;{{description}}&quot; /&gt;
<template v-if="showComments">&lt;!-- Schema.org meta for Google+ --&gt;</template>
&lt;meta itemprop=&quot;name&quot; content=&quot;{{title}}&quot;&gt;
&lt;meta itemprop=&quot;description&quot; content=&quot;{{description}}&quot;&gt;
&lt;meta itemprop=&quot;image&quot; content=&quot;{{image}}&quot;&gt;
<template v-if="showComments">&lt;!-- Twitter card --&gt;</template>
&lt;meta name=&quot;twitter:card&quot; content=&quot;{{image}}&quot;&gt;
&lt;meta name=&quot;twitter:site&quot; content=&quot;{{twitterId}}&quot;&gt;
&lt;meta name=&quot;twitter:title&quot; content=&quot;{{title}}&quot;&gt;
&lt;meta name=&quot;twitter:description&quot; content=&quot;{{description}}&quot;&gt;
&lt;meta name=&quot;twitter:creator&quot; content=&quot;{{twitterId}}&quot;&gt;
<template v-if="showComments">&lt;!-- Open Graph meta (Facebook, Linkedin) --&gt;</template>
&lt;meta property=&quot;og:title&quot; content=&quot;{{title}}&quot; /&gt;
&lt;meta property=&quot;og:type&quot; content=&quot;{{type}}&quot; /&gt;
&lt;meta property=&quot;og:description&quot; content=&quot;{{description}}&quot; /&gt;
&lt;meta property=&quot;author&quot; content=&quot;{{author}}&quot; /&gt;
&lt;meta property=&quot;og:image&quot; content=&quot;{{image}}&quot; /&gt;
</pre>
            </div>
          </div>

          <div class="checkbox">
            <label class="col-sm-offset-2">
              <input v-model="showComments" type="checkbox" class=""/> {{l('meta.form.show_comments')}}
            </label>
          </div>

        </form>
        <h2>Content-width checker</h2>
        <textarea class="form-control" v-model="message" rows="8"></textarea>
        <div class="">
          Twitter {{nbChar}}/140
          <span v-if="nbChar>=20 && nbChar<=140">✅</span>
          <span v-else-if="nbChar>0 && nbChar<20" title="Should be less than 20 char" data-toggle="tooltip">⚠️</span>
          <span v-show="nbChar==0 || nbChar>140" title="Shouldn't be empty or more than 140 char" data-toggle="tooltip">⛔</span>
        </div>
        <div class="">
          Facebook {{nbChar}}/400
          <span v-show="nbChar>=50 && nbChar<=200">✅</span>
          <span v-show="nbChar>0 && nbChar<50" title="Should be more than 50 char" data-toggle="tooltip">⚠️</span>
          <span v-show="nbChar>200 && nbChar<=400" title="Should be less than 200 char" data-toggle="tooltip">⚠️</span>
          <span v-show="nbChar==0 || nbChar>400" title="Shouldn't be empty or more than 400 char" data-toggle="tooltip">⛔</span>
        </div>
      </main>
      <app-footer><app-footer/>
    </div>
    <script src="../vendor/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="../vendor/bootstrap-3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <script src="../vendor/vue-2.5.17.min.js" charset="utf-8"></script>
    <script src="../app.js" charset="utf-8"></script>
    <script src="translations-en.js" charset="utf-8"></script>
    <script src="translations-fr.js" charset="utf-8"></script>
    <script src="seo.js" charset="utf-8"></script>
  </body>
</html>
