<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adobe Campaign by floriancourgey.com</title>
    <link rel="stylesheet" href="../vendor/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/fontawesome-5.8.1/css/all.min.css">
    <link rel="stylesheet" href="../app.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="adobe-campaign">
      <app-header2></app-header2>
      <main role="main" class="container">
        <h1>Adobe Campaign helper</h1>
        <h2>Input text</h2>
        <button type="button" class="btn btn-default" @click="message='';schemas=[];">Clear</button>
        <textarea v-model="message" rows="3" class="form-control">
        </textarea>
        <select v-model="dbEngine">
          <option value="mssql">MSSQL</option>
          <option value="oracle">Oracle</option>
          <option value="postgresql">PostgreSQL</option>
        </select>
        <button type="button" class="btn btn-primary" @click="generate">Generate</button>
        <div class="">
          <h2>Tables</h2>
          <ul>
            <li v-for="schema in schemas"><a v-bind:href="'#'+schema.mainElement.sqltable">{{schema.root.label}} ({{schema.root.namespace}}:{{schema.root.name}}) {{schema.mainElement.desc}}</a></li>
          </ul>
        </div>
        <div class="">
          <div class="card bg-light mb-3" v-for="schema in schemas">
            <div class="card-header">
              <span class="h3" v-bind:id="schema.mainElement.sqltable">{{schema.root.namespace}}:{{schema.root.name}}</span>
            </div>
            <div class="card-body row">
              <div class="col-4">
                <div class="">Columns</div>
                <table class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <th>SQL column</th>
                      <th>SQL type</th>
                      <th>AC Name</th>
                      <th>AC type</th>
                      <th>Label</th>
                      <th>Comments</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="column in schema.columns">
                      <td>{{column.sqlname}}</td>
                      <td>{{column.type}}</td>
                      <td>{{column.name}}</td>
                      <td>{{column.type}}</td>
                      <td>{{column.label}}</td>
                      <td>{{column.desc}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-4">
                <div class="">Keys</div>
                <table class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <th>Key name</th>
                      <th>Field</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="key in schema.keys">
                      <td>todo</td>
                      <td>{{key.name}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="">Indexes</div>
                <table class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <th>Index name</th>
                      <th>Field</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="index in schema.indexes">
                      <td>{{index.name}}</td>
                      <td>todo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-4">
                <div class="">Links</div>
                <table class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <th>AC Name</th>
                      <th>Label</th>
                      <th>Target</th>
                      <th>Card.</th>
                      <th>Join on</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="link in schema.links">
                      <td>{{link.name}}</td>
                      <td>{{link.label}}</td>
                      <td>{{link.target}}</td>
                      <td>{{link.cardinality}}</td>
                      <td>todo</td>
                    </tr>
                  </tbody>
                </table>
                <div class="">Enumerations</div>
                <table class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Values</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="enumeration in schema.enumerations">
                      <td>{{enumeration.name}}</td>
                      <td>
                        <select>
                          <option v-for="val in enumeration.values">{{val}}</option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
      <app-footer></app-footer>
    </div>
    <script src="../vendor/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="../vendor/popper-1.15.0/popper.min.js" charset="utf-8"></script>
    <script src="../vendor/bootstrap-4.3.1/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="../vendor/vue-2.5.17.min.js" charset="utf-8"></script>
    <script src="../app.js" charset="utf-8"></script>
    <script src="../polyfill.js" charset="utf-8"></script>
    <script src="adobe-campaign.js" charset="utf-8"></script>
  </body>
</html>
