
* {
  padding: 0px;
  margin: 0px;
  spacing: 0px;
}

html, body {
  font-family:  Calibri, Arial,Helvetica,sans-serif;
  font-size:    11pt;
  color:        #666666;
  padding:      5px;
  line-height:  140%;
}

.list th {
  border-bottom: solid 2px #7e7e7e;
}

th {
  padding: 0px 4px 0px 4px;
  text-align: left;
  line-height: 100%;
}

.list td {
  border-bottom: solid 1px #7e7e7e;
}

td {
  text-align: left;
  line-height: 100%;
}

table {
  empty-cells: show;
  border-collapse: collapse;
}

td, th {
  vertical-align: top;
  padding: 2px 4px 2px 4px;
}

h1, h2 {
  margin-top: 25px;
  margin-bottom: 10px;
  color:        #006892;
}

h3 {
  margin-top:    15px;
  margin-bottom: 5px;
  color:        #006892;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}
